@model AuctionSite.Models.Items

@{
    ViewBag.Title = "Title - " + Model.title;
}

<h2>@Model.title</h2>

<div id="album-details">
    <p>
        <em>Artist:</em>
        @Model.artist
    </p>

</div>
